.slider-wrp {
    display: flex;
    padding-bottom: 20px;
}

.switch {
    display: inline-block;
    position: relative;
    width: 3em;
    height: 2em;
    /* top: 18%;
    left: 41%; */
    cursor: pointer;
}

.switch input {
    opacity: 0;
    height: 0;
    width: 0;
}

.slider {
    position: absolute;
    background-color: var(--result-bg-color);
    outline: 1px solid var(--primary-color-2);
    border-radius: 2em;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}

.slider:before {
    position: absolute;
    content: "";
    background-color: var(--symbol-btn-bg-color);
    border-radius: 50%;
    align-items: center;
    bottom: 0.25em;
    left: 0.25em;
    width: 1.5em;
    height: 1.5em;
    transition: 0.3s;
}

.switch input:checked + .slider {
    background-color: var(--operation-btn-bg-color);
}

.switch input:checked + .slider:before {
    transform: translateX(1em);
}